<template>
	<div class="app">
		<current-exp 	v-bind:expression="expression" 
						/>
		<result 	v-bind:result="result" 
					v-bind:memory="memoryFree"
					v-bind:memoryShow="memoryShow"
					/>
		<div class="g-row">
			<div class="col__lg-6">
				<numpad 	v-on:keyClick="keyClick" 
							v-on:dotClick="dotClick" 
							v-on:inverse="inverse"
							/>
			</div>
			<div class="col__lg-6">
				<operations 	v-on:clean="clean"
								v-on:backspace="backspace"
								v-on:add="add"
								v-on:sub="sub"
								v-on:mul="mul"
								v-on:div="div"
								v-on:calculate="calculate"
								v-on:memoryAdd="memoryAdd"
								v-on:memoryWrite="memoryWrite"
								v-on:memoryClean="memoryClean"
								/>
			</div>
		</div>
	</div>
</template>
<script>

	import CurrentExp from './currentExp.vue'
	import Result from './result.vue'
	import Numpad from './numpad.vue'
	import Operations from './operations.vue'

	export default {
		name: 'App',
		data(){
			return {
				result: '0',
				actions: [],
				members: [],
				memory: null,
				buffer: null,
				lastMember: null,
				lastAction: null,
				index: 0,
				addAction: true,
				eLength: true,
				debug: false
			}
		},
		components: {
			currentExp: CurrentExp,
			result: Result,
			numpad: Numpad,
			operations: Operations
		},
		computed: {
			expression() {
				let len = this.eLength;
				if(this.actions.length == 0 && this.members.length == 0) return '0';
				else {
					let result = '', index = 0;
					for(const item of this.members) {
						result = result + 
									(item<0?'('+item+')':item) + 
									(this.actions[index] || '');
						index++;
					}
					return result.replace(/add/g, '+').replace(/sub/g, '-').replace(/mul/g, '*').replace(/div/g, ':');
				}
			},
			memoryFree(){
				return Boolean(this.memory);
			},
			memoryShow(){
				return Boolean(this.memory) && (this.result == this.memory);
			},
		},
		methods: {
			keyClick(key) {
				this.members[this.index] = (this.expression == '0') ? key : ((this.members[this.index]?this.members[this.index]:'') + '' + key);
				this.addAction = Boolean(!(this.actions[this.actions.length-1] == 'div' && parseFloat(this.members[this.index]) == 0));					
				this.debug && console.log("array 'members' after click': ");
				this.debug && console.log(this.members);
				this.debug && console.log("array 'actions' after click: ");
				this.debug && console.log(this.actions);
				this.eLength = !this.eLength;
			},
			dotClick(){
				this.members[this.index] = (typeof this.members[this.index] === 'undefined') ? '0.'
								:(
									this.members[this.index].toString().indexOf('.')<0 ? this.members[this.index]+'.' : this.members[this.index]
								);
				this.eLength = !this.eLength;
				this.addAction = false;
			},
			inverse(){				
				this.members[this.index] = typeof this.members[this.index] === 'undefined' ? '0' : this.members[this.index]*(-1);
				this.debug && console.log("array 'members' after call of 'inverse': ");
				this.debug && console.log(this.members);
				this.eLength = !this.eLength;
			},
			clean(){
				this.debug && console.log("call 'clean()'");				
				this.result = '0';
				this.actions = [];
				this.members = [];				
				this.index = 0;
				this.eLength = !this.eLength;
				this.addAction = true;
			},
			backspace(){
				if(this.members.length > this.actions.length && this.members.length > 0) {
					if(this.members[this.index].toString().length > 1) {							
						let res = this.members[this.index].toString().slice(0,-1);											
						this.members[this.index] = res;
						if(this.actions.length > 0 && this.actions[this.actions.length-1] == 'div' && parseFloat(this.members[this.index]) == 0) {
							this.debug && console.log("Error: divide by zero!");
							this.addAction = false;
						}
					} else {
						this.members = this.members.slice(0,-1);							
						this.addAction = false;
					}											
				} else {
					this.actions = this.actions.slice(0,-1);
					this.addAction = true;
					this.index > 0 && this.index--;						
				}
				this.debug && console.log("array 'members' after call of 'backspace': ");
				this.debug && console.log(this.members);
				this.debug && console.log("array 'actions' after call of 'backspace': ");
				this.debug && console.log(this.actions);
				this.eLength = !this.eLength;
			},
			add(){
				this.expression == '0' && (this.members[this.index] = (this.result == '0' && this.actions.length == 0) ? 0 : this.result);
				if(this.addAction) {					
					this.addAction = false;
					this.actions.push('add');
					this.index++;
				}
				this.debug && console.log("array 'members' after call of 'add': ");
				this.debug && console.log(this.members);
				this.debug && console.log("array 'actions' after call of 'add': ");
				this.debug && console.log(this.actions);
				this.eLength = !this.eLength;
			},
			sub(){
				this.expression == '0' && (this.members[this.index] = (this.result == '0' && this.actions.length == 0) ? 0 : this.result);
				if(this.addAction) {					
					this.addAction = false;
					this.actions.push('sub');
					this.index++;
				}
				this.debug && console.log("array 'members' after call of 'sub': ");
				this.debug && console.log(this.members);
				this.debug && console.log("array 'actions' after call of 'sub': ");
				this.debug && console.log(this.actions);
				this.eLength = !this.eLength;
			},
			mul(){
				this.expression == '0' && (this.members[this.index] = (this.result == '0' && this.actions.length == 0) ? 0 : this.result);
				if(this.addAction) {					
					this.addAction = false;
					this.actions.push('mul');
					this.index++;
				}
				this.debug && console.log("array 'members' after call of 'mul': ");
				this.debug && console.log(this.members);
				this.debug && console.log("array 'actions' after call of 'mul': ");
				this.debug && console.log(this.actions);
				this.eLength = !this.eLength;
			},
			div(){
				this.expression == '0' && (this.members[this.index] = (this.result == '0' && this.actions.length == 0) ? 0 : this.result);						
				if(this.addAction) {					
					this.addAction = false;
					this.actions.push('div');
					this.index++;
				}
				this.debug && console.log("array 'members' after call of 'div': ");
				this.debug && console.log(this.members);
				this.debug && console.log("array 'actions' after call of 'div': ");
				this.debug && console.log(this.actions);
				this.eLength = !this.eLength;
			},
			memoryAdd(){		
				this.memory = (this.result !== '0') ? (this.memory?parseFloat(this.memory)+parseFloat(this.result):this.result) : null;
				this.debug && (this.memory ? console.log("memory has been changed:", this.memory) : console.log("result is empty"));
				this.result = '0';
			},
			memoryWrite(){	
				if(this.memory) {
					if(this.memoryShow) {											
						this.memory = this.result;
						this.result = this.buffer;						
					} else {										
						this.buffer = this.result;
						this.result = this.memory;						
					}
				}
				this.debug && (this.memoryShow ? console.log("hide memory") : console.log("show memory"));
				this.debug && !this.memoryShow && console.log("memory is empty")
				this.debug && console.log("result:", this.result);
				this.debug && console.log("memory:", this.memory);
				this.debug && console.log("buffer:", this.buffer);
			},
			memoryClean(){
				this.debug && console.log("memory clean");
				this.memory = null;
				this.buffer = null;
			},
			calculate(){
				let self = this, result = {};				
				function calc(members, actions, index){
					let res;
					members.forEach((e,i)=>{
						members[i] = parseFloat(members[i]);
					});
					switch (actions[index]) {
						case 'add':
						case 'sub':
							if(index > 0) {
								self.debug && console.log("call 'calc()' from add/sub");
								return calc(members, actions, --index);
							} else {
								switch (actions[index]) {
									case 'add':										
										members[index+1] += members[index];
									break;
									case 'sub':
										members[index+1] -= members[index];
									break;
								}
								self.debug && console.log('execute the action:', actions[index]);
								members.splice(index, 1);
								actions.splice(index, 1);
								self.debug && console.log("actions.length:", actions.length);
								if(actions.length > 0) {
									self.debug && console.log("call 'calc()' from add/sub");
									return calc(members, actions, actions.length-1);
								} else {
									self.debug && console.log("return result from 'calc()': ");
									let res = {
											members: members,
											actions: actions
										}
									self.debug && console.log(res);
									return res;
								}
							}		
						break;
						case 'mul':
						case 'div':
							switch (actions[index]) {
								case 'mul':
									members[index+1] *= members[index];
								break;
								case 'div':
									members[index+1] = members[index] / members[index+1];
								break;
							}
							self.debug && console.log('execute the action:', actions[index]);
							members.splice(index, 1);	
							actions.splice(index, 1);
							if(actions.length > 0) {
								self.debug && console.log("call 'calc()' from mul/div");
								return calc(members, actions, actions.length-1);
							} else {
								self.debug && console.log("return result from 'calc()': ");
								res = {
										members: members,
										actions: actions
									}
								self.debug && console.log(res);
								return res;
							}
						break;						
					}							
				}	

				if(this.addAction){					
					this.debug && console.log("call 'calculate()'");					
					if(parseFloat(this.result) == 0) {
						this.lastMember = this.members[this.members.length-1];						
					}			
					if(this.actions.length>0) {
						this.lastAction = this.actions[this.actions.length-1];						
						this.debug && console.log("call 'calc()' from global");							
						result = calc(this.members, this.actions, this.actions.length-1);
					} else 							
						if(this.lastMember && this.lastAction && this.result) {
							this.debug && console.log("repeat call 'calc()' from global");
							this.debug && console.log("last member: " + this.lastMember);	
							this.debug && console.log("last action:", this.lastAction);
							result = calc([this.result, this.lastMember], [this.lastAction], 0);
						} else {							
							result.members = typeof this.members[0] === 'undefined' ? [0] : [this.members[0]];							
						}
					this.debug && console.log('return global result:');
					this.debug && console.log(result);
					this.clean();
					this.debug && console.log("write result:", result.members[0]);
					this.result = result.members[0];
					this.eLength = !this.eLength;
				} else {
					this.debug && console.log("The Expression is incorrect");
				}
			}
		}
	}
</script>
<style scoped>
	.app {
		width: 300px;
		margin: 0 auto;
		padding: 3px;
		border: 1px solid gray;
		background-color: #253550;
	}
</style>
