<template>
	<input type="text" v-bind:value="expression" disabled="disabled" autofocus>
</template>
<script>
	export default {
		name: 'CurrentExp',
		props: ['expression'],
		data(){
			return {}
		}
	}
</script>
<style scoped>
	input {
		font-size: 1.2em;
		color: #8d8d8d;
	}
</style>