<template>
	<div class="numpad">
		<div class="col__lg-4" v-for="key in keys">
			<button class="key" v-on:click="handleNumpadKey(key)">{{ key }}</button>
		</div>
		<div class="col__lg-4">
			<button class="key" v-on:click="handleNumpadDot">.</button>
		</div>
		<div class="col__lg-4">
			<button class="key" v-on:click="handleInverse">&plusmn;</button>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'Numpad',
		props: ['result'],
		data(){
			return {
				keys: ['7', '8', '9', '4', '5', '6', '1', '2', '3', '0']
			}
		},
		methods: {
			handleNumpadKey(key) {				
				this.$emit('keyClick', key);
			},
			handleNumpadDot(){
				this.$emit('dotClick');
			},
			handleInverse(){
				this.$emit('inverse');
			}
		}	
	}
</script>
<style>
	.numpad > div {
		padding: 3px;
	}
	.key {
		width: 100%;
		height: 65px;
		line-height: 65px;
		text-align: center;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 2em;
		border: 1px solid #fff;
		border-radius: 4px;
	}
	.key:active {
		background: #131c2b; /* Old Browsers */
		background: -webkit-linear-gradient(top,#131c2b,#30466b); /*Safari 5.1-6*/
		background: -o-linear-gradient(top,#131c2b,#30466b); /*Opera 11.1-12*/
		background: -moz-linear-gradient(top,#131c2b,#30466b); /*Fx 3.6-15*/
		background: linear-gradient(to bottom, #131c2b, #30466b); /*Standard*/
	}
	.key.plusminus:before {
		content: '\2213';
	}
	.key-large {
		height: 135px;
	}
</style>