<template>
	<div class="operations">
		<div class="col__lg-4">
			<button class="key" v-on:click="handleDiv">&divide;</button>
		</div>
		<div class="col__lg-4">
			<button class="key" v-on:click="handleClean">C</button>
		</div>
		<div class="col__lg-4">
			<button class="key" v-on:click="handleBackspace">&lArr;</button>
		</div>
		<div class="col__lg-4">
			<button class="key" v-on:click="handleMult">&#215;</button>
		</div>
		<div class="col__lg-4">
			<button class="key" v-on:click="handleMemoryAdd">M<sup>+</sup></button>
		</div>
		<div class="col__lg-4">
			<button class="key key-small mb-5" v-on:click="handleMemoryWrite">ME</button>
			<button class="key key-small" v-on:click="handleMemoryClean">MC</button>
		</div>
		<div class="col__lg-4">
			<button class="key key-large" v-on:click="handleAdd">+</button>
		</div>
		<div class="col__lg-4">
			<button class="key key-large" v-on:click="handleSub">&#8722;</button>
		</div>
		<div class="col__lg-4">
			<button class="key key-large" v-on:click="handleCalculate">=</button>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'Operations',
		data(){
			return {

			}
		},
		methods: {
			handleClean(){
				this.$emit('clean');
			},
			handleBackspace(){
				this.$emit('backspace');
			},
			handleAdd(){
				this.$emit('add');
			},
			handleSub(){
				this.$emit('sub');
			},
			handleMult(){
				this.$emit('mul');
			},
			handleDiv(){
				this.$emit('div');
			},
			handleCalculate(){
				this.$emit('calculate');
			},
			handleMemoryAdd(){
				this.$emit('memoryAdd');
			},
			handleMemoryWrite(){
				this.$emit('memoryWrite');
			},
			handleMemoryClean(){
				this.$emit('memoryClean');
			}
		}
	}
</script>
<style scoped>
	.operations > div {
		padding: 3px;
	}
	.key-small {
		height: 30px;
		line-height: 30px;
		font-size: 1.4em;
	}
	.mb-5 {
		margin-bottom: 5px;
	}
</style>