<template>
	<div class="result-wrap">
		<input type="text" v-bind:value="result" disabled="disabled">
		<span v-if="memory" class="icon-memory">M</span>
		<span v-if="memoryShow" class="icon-memory-show">ME</span>
	</div>
</template>
<script>
	export default {
		name: 'Result',
		props: ['result', 'memory', 'memoryShow'],
		data(){
			return {}
		}
	}
</script>
<style scoped>
	input {
		font-size: 1.7em;
		color: #272727;
	}
	.result-wrap {
		position: relative;
	}
	span {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
	}
	span.icon-memory {
		top: 3px;
		left: 5px;
	}
	span.icon-memory-show {
		top: 18px;
		left: 5px;
	}
	
</style>