meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="initial-scale=1.0, width=device-width")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(name="author" content="")