@charset "utf-8";

div.anchor {
    position: relative;
    width: 100%;
    height: 0px !important;
    float: none;
    clear: both;
}

.nav-btn {
    position: relative;
    display: none;
    z-index: 9999;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #854fe6;
    border-radius: 8px;
    width: 38px;
    height: 38px;
    span {
        display: block;
        width: 85%;
        height: 5px;
        background-color: #854fe6;
        margin: 5px 3px;
        border-radius: 2px;
    }
}

.clear {
    height: 1px;
    margin-top: -1px;
    clear:both;
}

.clearfix:after {
    display: table; clear: both;
}

.justifyfix {
    text-align: justify;
    margin-bottom: -17px;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        overflow: hidden;
        visibility: hidden;
    }
}

.nowrap{
    white-space: nowrap;
}

.truncate {
    overflow: hidden;   
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.icon {
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
}

.i-icon-fa {
    display: inline-block;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.i-icon-vk:before {
    content:"\f189";
}

.check-row {
    position: relative; 
    display: block; 
    margin-top: 10px; 
    margin-bottom: 10px;
    label {
        display: inline-block; 
        min-height: 20px; 
        padding-left: 20px; 
        cursor: pointer;
    }
    input {
        position: absolute; 
        top: 4px; 
        left: 0;
    }
}

.img-respon {
	max-width: 100%;
}

.img-vertical-centered {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.g-pull-left {float: left}
.g-pull-right {float: right}
.g-text-left {text-align: left}
.g-text-right {text-align: right}
.g-text-center {text-align: center}
.g-v-al-top {vertical-align: top}
.g-v-al-bottom {vertical-align: bottom}
.g-v-al-middle {vertical-align: middle}
.g-block {display: block}
.g-inline-block {display: inline-block}
.g-hidden {display: none}
.g-table {display: table}
.g-table-cell {display: table-cell}
.g-no-margin {margin: 0}
.g-no-padding {padding: 0}
.g-no-border {border-width: 0px}
.g-uppercase {text-transform: uppercase}
.g-lowercase {text-transform: lowercase}
.g-capitalize {text-transform: capitalize}
.g-font-bold {font-weight: bold}
.g-font-normal {font-weight: normal}
.g-font-italic {font-style: italic}
.g-underline {text-decoration: underline}
.g-fs-1em {font-size: 1em}
.g-fs-2em {font-size: 2em}
.g-transparent {background-color: transparent}

@media (max-width: $screen-lg) { 
    .lg-text-left { text-align: left }
    .lg-text-center { text-align: center }
    .lg-text-right { text-align: right }
    .lg-visible { display: block }
    .lg-hidden { display: none }
 }

 @media (max-width: $screen-md) { 
    .md-text-left { text-align: left }
    .md-text-center { text-align: center }
    .md-text-right { text-align: right }
    .md-visible { display: block }
    .md-hidden { display: none }
 }

@media (max-width: $screen-sm) { 
    .sm-text-left { text-align: left }
    .sm-text-center { text-align: center }
    .sm-text-right { text-align: right }
    .sm-visible { display: block }
    .sm-hidden { display: none }
}

@media (max-width: $screen-xs) { 
    .xs-text-left { text-align: left }
    .xs-text-center { text-align: center }
    .xs-text-right { text-align: right }
    .xs-visible { display: block }
    .xs-hidden { display: none }
}

@media (max-width: $screen-xxs) { 
    .xxs-text-left { text-align: left }
    .xxs-text-center { text-align: center }
    .xxs-text-right { text-align: right }
    .xxs-visible { display: block }
    .xxs-hidden { display: none }
}






