/*
================
Grid.css
jimhucksly-studio.ru 2017
=================
*/

/* ========================================= */

.wrapper {
    position: relative; width: $wrapper-width; max-width: $wrapper-max-width; margin: 0 auto; z-index: 99; 
    padding-left: $wrapper-padding; padding-right: $wrapper-padding;
    @media (max-width: $wrapper-width) {
    	width: 100%;
    }
}
.wrapper:before { display: table; content: ''}
.wrapper:after { clear: both; display: table; content: ''}

.g-container {
	position: relative; width: 100%; margin: 0 auto; z-index: 99; padding: 0;
}
.g-container:before { display: table; content: ''}
.g-container:after { clear: both; display: table; content: ''}

.g-row,
.g-form-row {
	margin: 0;
	width: 100%;
	float: none;
	clear: both;
}
.g-row:before, .g-form-row:before { display: table; content: ''}
.g-row:after, .g-form-row:after { clear: both; display: table; content: ''}

%columns {
	float: left;
	padding: 0 0px;
	position: relative;
	display: block;
}
%columns:before { display: table; content: ''}
%columns:after { clear: both; display: table; content: ''}

// col ------

@for $i from 1 through $grid {
	.col__lg-#{$i} {
		@extend %columns;
    	@media screen and (max-width: $screen-lg) {
			width: percentage($i / $grid);
    	}
	}
}
@for $i from 1 through $grid {
	.col__md-#{$i} {
		@extend %columns;
		@media (max-width: $screen-md) {
			width: percentage($i / $grid);
    	}
	}
}
@for $i from 1 through $grid {
	.col__sm-#{$i} {
		@extend %columns;
		@media (max-width: $screen-sm) {
			width: percentage($i / $grid);
    	}
	}
}
@for $i from 1 through $grid {
	.col__xs-#{$i} {
		@extend %columns;
		@media (max-width: $screen-xs) {
			width: percentage($i / $grid);
    	}
	}
}
@for $i from 1 through $grid {
	.col__xxs-#{$i} {
		@extend %columns;
		@media (max-width: $screen-xxs) {
			width: percentage($i / $grid);
    	}
	}
}

// prefix ------

@for $i from 0 through $grid {
	.prefix__lg-#{$i} {
		@media screen and (max-width: $screen-lg) {
    		margin-left: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.prefix__md-#{$i} {
		@media screen and (max-width: $screen-md) {
    		margin-left: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.prefix__sm-#{$i} {
		@media screen and (max-width: $screen-sm) {
    		margin-left: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.prefix__xs-#{$i} {
		@media screen and (max-width: $screen-xs) {
    		margin-left: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.prefix__xxs-#{$i} {
		@media screen and (max-width: $screen-xxs) {
    		margin-left: percentage($i / $grid);
    	}
	}
}

// suffix ------

@for $i from 0 through $grid {
	.suffix__lg-#{$i} {
		@media screen and (max-width: $screen-lg) {
    		margin-right: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.suffix__md-#{$i} {
		@media screen and (max-width: $screen-md) {
    		margin-right: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.suffix__sm-#{$i} {
		@media screen and (max-width: $screen-sm) {
    		margin-right: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.suffix__xs-#{$i} {
		@media screen and (max-width: $screen-xs) {
    		margin-right: percentage($i / $grid);
    	}
	}
}
@for $i from 0 through $grid {
	.suffix__xxs-#{$i} {
		@media screen and (max-width: $screen-xxs) {
    		margin-right: percentage($i / $grid);
    	}
	}
}