@charset "utf-8";

/*--------------- Normalize -------------*/

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    }

*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    height: 100%;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }   
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    }

BODY {
    font-family: $base-font; font-size: $base-font-size; font-weight: normal; font-style: normal;
    line-height: $base-line-height; margin: 0px; padding: 0px; width: 100%; color: $base-font-color;
    background-color: $base-background; overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    // -webkit-font-smoothing: subpixel-antialiased;
    -webkit-background-size: 100% auto; 
    -moz-background-size: 100% auto; 
    -ms-background-size: 100% auto; 
    -o-background-size: 100% auto; 
    background-size: 100% auto; 
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, dl, ol, ul, hr, p, pre, table, address, fieldset {
    margin: 0;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
}

hr {
    box-sizing: content-box;
    border: 0 #ccc solid; 
    border-top-width: 1px; 
    clear: both; 
    height: 0;
}

a:not(.btn) {
    color: $link-color; 
    font-size: $link-font-size;
    text-decoration: $link-decoration;
    background-color: transparent;
    border-bottom: $link-border-bottom;
    img {
        border: none;
    }
    &:hover, &:focus {
        text-decoration: $link-decoration-hover;
        border-bottom: none; 
        outline: 0;
        color: $link-color-hover;
    }
    &.active {
        outline: 0;
        color: $link-color-active;
    }
}

button, input[type="submit"], .btn {
    height: $btn-height; width: $btn-width; line-height: $btn-line-height; font-family: $btn-font; font-size: $btn-font-size; 
    color: $btn-color; text-transform: $btn-text-transform; 
    background: $btn-background; 
    background: $btn-background-webkit; 
    background: $btn-background-safari; 
    border: $btn-border; border-bottom: $btn-border-bottom; border-top: $btn-border-top; border-radius: $btn-border-radius;
    text-align: center; text-decoration: none; display: inline-block; vertical-align: middle; overflow:visible; 
    white-space: nowrap; cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    &:hover {
        background: $btn-background-hover; 
        background: $btn-background-hover-webkit; 
        background: $btn-background-hover-safari; 
        color: $btn-color-hover;
    } 
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0; 
        border-top: $btn-border-bottom;
        border-bottom: $btn-border-top;
        color: $btn-color-hover;
        background: $btn-background-active;
        background: $btn-background-active-webkit;
        background: $btn-background-active-safari;
    }
    .btn-inverse {
        background: $btn-background-hover; 
        background: $btn-background-hover-webkit; 
        background: $btn-background-hover-safari; 
        color: $btn-color-hover;
        &:hover {
            background: $btn-background; 
            background: $btn-background-webkit; 
            background: $btn-background-safari; 
            color: $btn-color;
        }
    }
    &[disabled] {
        cursor: default;
    }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-webkit-input-placeholder {color: $input-placeholder-color;}
::-moz-placeholder {color: $input-placeholder-color;}
:-moz-placeholder{color: $input-placeholder-color;}
:-ms-input-placeholder{color: $input-placeholder-color;}

:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder {color: transparent;}
:focus:-moz-placeholder{color: transparent;}
:focus:-ms-input-placeholder{color: transparent;}