@charset "utf-8";

/*--------------- Variables -------------*/

/* colors */

$base: #555;

/* fonts */
$font-regular: "BloggerSans-Light";

/* body */
$base-font: $font-regular;
$base-font-size: 16px;
$base-font-color: $base;
$base-line-height: 1.25em;
$base-background: #fff;

/* nav */
$nav-link-font: $font-regular;
$nav-link-font-size: 1em;
$nav-link-color: $base;
$nav-link-color-hover: $base;
$nav-link-color-active: $base;
$nav-link-border-bottom: none;
$nav-text-transform: none;

/* ul */
$ul-font: $font-regular;

/* p */
$p-font: $font-regular;
$p-font-size: 1em;
$p-line-height: 1em;
$p-color: $base;
$p-padding-bottom: 0;

/* h1 h2 h3 h4 h5 h6 */
$h-font: $font-regular;
$h-font-color: $base;

/* h1 */
$h1-font-size: 2.25em;
$h1-font-weight: bold;
$h1-text-transform: uppercase;
$h1-color: $base;
$h1-margin-bottom: 0;

/* h2 */
$h2-font-size: 1.75em;
$h2-font-weight: bold;
$h2-text-transform: uppercase;
$h2-color: $base;
$h2-margin-bottom: 0;

/* h3 */
$h3-font-size: 1.5em;
$h3-font-weight: bold;
$h3-text-transform: uppercase;
$h3-color: $base;
$h3-margin-bottom: 0;

/* h4 */
$h4-font-size: 1.5em;
$h4-font-weight: bold;
$h4-text-transform: uppercase;
$h4-color: $base;
$h4-margin-bottom: 0;

/* h5 */
$h5-font-size: 0.875em;
$h5-font-weight: bold;
$h5-text-transform: uppercase;
$h5-color: $base;
$h5-margin-bottom: 0;

/* h6 */
$h6-font-size: 0.75em;
$h6-font-weight: bold;
$h6-text-transform: uppercase;
$h6-color: $base;
$h6-margin-bottom: 0;

/* a */
$link-font-size: 1em;
$link-color: $base;
$link-color-hover: $base;
$link-color-active: $base;
$link-border-bottom: 0;
$link-decoration: none;
$link-decoration-hover: none;

/* input */
$input-font: $font-regular;
$input-font-size: 1em;
$input-color: $base;
$input-placeholder-color: $base;
$input-height: 30px;
$input-background: none;
$input-border: none;
$input-border-radius: 4px;
$input-error-border-color: #ff0000;
$input-padding: 6px 12px;

/* button */
$btn-width: 100%;
$btn-height: 30px;
$btn-line-height: $btn-height;
$btn-font: $font-regular;
$btn-font-size: 1em;
$btn-color: $base;
$btn-color-hover: #fff;
$btn-text-transform: none; 

$btn-background: linear-gradient(to top, #131c2b, #30466b); /*Standard*/
$btn-background-webkit: -webkit-gradient(linear, bottom, color-stop(0% #131c2b), color-stop(100% #30466b));
$btn-background-safari: -webkit-linear-gradient(bottom,#131c2b,#30466b); /*Safari 5.1-6*/

$btn-background-hover: linear-gradient(to top, #131c2b, #30466b); /*Standard*/
$btn-background-hover-webkit: -webkit-gradient(linear, bottom, color-stop(0% #131c2b), color-stop(100% #30466b));
$btn-background-hover-safari: -webkit-linear-gradient(bottom,#131c2b,#30466b); /*Safari 5.1-6*/

$btn-background-active: linear-gradient(to bottom, #131c2b, #30466b); /*Standard*/
$btn-background-active-webkit: -webkit-gradient(linear, top, color-stop(0% #131c2b), color-stop(100% #30466b));
$btn-background-active-safari: -webkit-linear-gradient(top,#131c2b,#30466b); /*Safari 5.1-6*/

$btn-border-radius: 6px;
$btn-border: 1px solid #fff;
$btn-border-top: 1px solid #fff;
$btn-border-bottom: 1px solid #fff;

/* wrapper */
$wrapper-width: 1170px;
$wrapper-max-width: 1200px;
$wrapper-padding: 10px;

/* grid */
$grid: 12;
$screen-lg: 5000px;
$screen-md: 1170px;
$screen-sm: 970px;
$screen-xs: 720px;
$screen-xxs: 533px;