@charset "utf-8";

@import "variables";
@import "normalize";
@import "fonts";
@import "grid";
@import "common";
	
/* ================= CONTENT =======================*/

.g-header, .g-content, .g-footer {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;  
    clear: both;   
}

body {
	background-color: #d6fefa;
	padding-top: 45px;
}
input {
	width: 100%;
	border: 1px solid gray;
	font-size: 1.7em;
	padding: 4px;
	text-align: right;
	&:focus {
		outline: 0;
	}
	&[disabled] {
		background-color: #fff;
	}
}


